/* General Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
}

h1 p {
    font-size: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #555;
}

/*form*/
form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form div {
    margin-bottom: 15px;
}

label {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-block;
    color: #444;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

input[type="radio"] {
    margin-right: 10px;
}

.radio-group label {
    margin-right: 15px;
    font-size: 1em;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    margin:auto;
    
}

.logo {
    display: inline;
    height: 3em;
    width: auto;
    vertical-align: middle;
    margin-left: 10px;
}

/*Adds a blue border around the selected box*/
input[type="text"]:focus {
    border-color: #007bff;
    outline: none;
}

/*table*/
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table th,
table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

table th {
    background-color: #f8f8f8;
    font-weight: bold;
}

table td {
    background-color: #fafafa;
}

table tr:nth-child(even) td {
    background-color: #f2f2f2;
}

table tr:hover td {
    background-color: #e9ecef;
}


/* Form Labels */
form label {
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
}

form input[type="text"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;

}
